<script>
  $(function(){
    getCustomerList();

    $('.btn-filter-apply').click( () => {
      let params = {
        gender: $('input[name="radio-gender"]:checked').val() || "",
        firstname: $('.input-first-name').val() || "",
        lastname: $('.input-last-name').val() || "",
        occupation: $('.input-occupation').val() || "",
      }

      getCustomerList(params)
    })

    $('.btn-filter-clear').click( () => {
      $('input[name="radio-gender"]').prop('checked', false);
      $('.input-first-name, .input-last-name, .input-occupation').val("");
      getCustomerList();
    })
  })

  function getCustomerList(params){
    $.get("api/user/list", params).done(response => {
      populateTableCustomerList(response)
    })
  }

  function populateTableCustomerList(list){
    $('.js-table-customer-list tbody').html("");
    if(list.length > 0){
      $.each(list, (index, item) => {
        var $tableRow = $('<tr>'
          +'<td class="uid"></td>'
          +'<td class="fullname"></td>'
          +'<td class="occupation"></td>'
          +'<td class="gender"></td>'
          +'<td class="email"></td>'
          +'</tr>');
        $tableRow
          .find(".uid").text(item["id"]).end()
          .find(".fullname").text(item["first_name"] +" "+ item["last_name"]).end()
          .find(".email").text(item["email"]).end()
          .find(".occupation").text(item["occupation"]).end()
          .find(".gender").text(item["gender"]).end()
        $('.js-table-customer-list tbody').append($tableRow)
      })
    } else {
      $('.js-table-customer-list tbody').append($("<tr><td class='fst-italic text-center' colspan='5'>- no data -</td></tr>"))
    }
  }
</script>
<div class="container my-3">
  <h4>Filter</h4>
  <hr />
  <div class="row my-2"><div class="col">
    <div class="input-group">
      <span class="input-group-text">First and last name</span>
      <input type="text" class="input-first-name" aria-label="First name" class="form-control">
      <input type="text" class="input-last-name" aria-label="Last name" class="form-control">
    </div>
  </div></div>
  <div class="row my-2"><div class="col">
    <div class="input-group">
      <span class="input-group-text">Occupation</span>
      <input type="text" class="input-occupation" aria-label="Occupation" class="form-control">
    </div>
  </div></div>
  <div class="row my-2"><div class="col">
    <label>Gender: </label>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" name="radio-gender" id="rdo-gender-male" value="male">
      <label class="form-check-label" for="rdo-gender-male">
        Male
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" name="radio-gender" id="rdo-gender-female" value="female">
      <label class="form-check-label" for="rdo-gender-female">
        Female
      </label>
    </div>
  </div></div>
  <hr />
  <div class="text-center">
    <button type="button" class="btn btn-warning btn-filter-clear">Clear</button>
    <button type="button" class="btn btn-success btn-filter-apply">Apply</button>
  </div>
  <hr />
</div>
<div class="container my-3">
  <div class="row"><div class="col"><h4>Customer List</h4></div></div>
  <table class="js-table-customer-list table table-striped">
    <thead>
    <tr class="table-dark">
      <th>uid</th>
      <th>Customer Name</th>
      <th>Occupation</th>
      <th>Gender</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody></tbody>
  </table>
</div>