<script>
  var listCache;
  $(function(){
    getMovieList();
  })

  function getMovieList(params){
    $.get("api/movie/list", params).done(response => {
      listCache = response
      populateTableList(_.sortBy(listCache, ['Title']))
    })
  }

  function populateTableList(list){
    $('.js-table-movie-list tbody').html("");
    if(list.length > 0){
      $.each(list, (index, item) => {
        var $tableRow = $('<tr>'
          +'<td class="uid"></td>'
          +'<td class="title"></td>'
          +'<td class="genre"></td>'
          +'<td class="year"></td>'
          +'</tr>');
        $tableRow
          .find(".uid").text(item["Id"]).end()
          .find(".title").text(item["Title"]).end()
          .find(".genre").text(item["Genre"]).end()
          .find(".year").text(item["Year"]).end()
        $('.js-table-movie-list tbody').append($tableRow)
      })
    } else {
      $('.js-table-movie-list tbody').append($("<tr><td class='fst-italic text-center' colspan='5'>- no data -</td></tr>"))
    }
  }

  function sortTableBy(key){
    switch (key){
      case 'uid':
        populateTableList(_.sortBy(listCache, ['Id']))
        break;
      case 'title':
        populateTableList(_.sortBy(listCache, ['Title']))
        break;
      case 'genre':
        populateTableList(_.sortBy(listCache, ['Genre']))
        break;
      case 'year':
        populateTableList(_.sortBy(listCache, ['Year']))
        break;
    }
  }
</script>
<div class="container my-3">
  <div class="row"><div class="col"><h4>Movie List</h4></div></div>
  <table class="js-table-movie-list table table-striped">
    <thead>
    <tr class="table-dark">
      <th class="pointer" onclick="javascript:sortTableBy('uid')">uid</th>
      <th class="pointer" onclick="javascript:sortTableBy('title')">Title</th>
      <th class="pointer" onclick="javascript:sortTableBy('genre')">Genre</th>
      <th class="pointer" onclick="javascript:sortTableBy('year')">Release Year</th>
    </tr>
  </thead>
  <tbody></tbody>
  </table>
</div>